/* Center tables for demo */

.cal-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 10px;
}

#cal-btn {
  color: black !important;
  text-transform: uppercase;
  text-decoration: none;
  background: beige;
  /* padding: 20px; */
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  height: 50px;
  width: auto;
}

#cal-btn:hover {
  background: #636060;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}


