<div className="profileWrapper">
    <div className="wrapper">
        <div className="left">
            <img src={this.state.imgUrl} 
            alt="pet" width="300"/>
        </div>

        <div className="right">
            <div className="info">
                <h3>{this.state.name}</h3>
                <div className="info_data">
                    <div className="data">
                        <h4>Age</h4>
                        <p>{this.state.age}</p>
                    </div>
                    <div className="data">
                    <h4>Gender</h4>
                        <p>{this.state.gender}</p>
                </div>
                </div>
            </div>
        
            <div className="projects">
                    <div className="projects_data">
                        <div className="data">
                            <h4>Breed</h4>
                            <p>{this.state.breed}</p>
                        </div>
                        <div className="data">
                        <h4>Description:</h4>
                            <p>{this.state.description}</p>
                    </div>
                    </div>
                </div>
            
                <div className="social_media">
                   <button className="profile-btn"><Link to="/edit-profile" >Edit Info</Link></button>
            </div>
        </div>
    </div>
</div>