body {
    background-color: skyblue;
}

.wrapper-login {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;  
    margin-left: -10px;
    margin-top: -10px;
}


.login-box {
    background-color: beige;
    width: 350px;
    
}

.login-header {
    font-size: 30px;
    color: slateblue;
    text-align: center;
}

.inputs-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.buttons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
}

.buttons {
    /* margin: 10px; */
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: rgb(137, 135, 235);
    text-align:center;
    transition: all 0.2s;
}

.buttons:hover {
    color:#000000;
    background-color:#FFFFFF;
}

@media all and (max-width:30em){
     .buttons{
        display:block;
        margin:0.4em auto;
    }
} 