/* 
.app-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
} */

a, a:visited, a:hover, a:active {
  color: inherit;
}





  /* .nav-profile {
    width: 70%;
  }

  .navbar-links:active {
    background: linear-gradient(to right,#0151ac,#a160ec);
} */


  /* .left-p, .wrapper-p {S
    width: 77%;
  }

  .right-p {
    width: 66%;
  }

  .separator {
    margin: 0;
  }

  .pet-photo {
    width: 300px;
    padding: 15px 5px;
  } */


