.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: beige;
}

.nav-links, a {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

