.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: beige;
    background-image: url();
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
}


.links {
    margin: 20px;
}

.links-style {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 10px;
    width: 40%;
    justify-content: center;
    align-items: center; */
}

.navbar-links {
    /* display: flex;
    justify-content: center;
    width: 40%; */
    /* background: linear-gradient(to right,#01a9ac,#01dbdf); */
}

/* .navbar-links:hover {
    background: linear-gradient(to right,#0151ac,#a160ec);
} */


.user-p {

}

.nav-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 60%;
}


#nav-pic {
    margin: 10px;
    width: 100px;
    display: flex;
}

.nav-img-div {
    display: flex;
}

#nav-btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: skyblue;
    /* padding: 20px; */
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    height: 50px;
    width: auto;
}

#nav-btn:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

a {
    text-decoration: none;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

